.university-rankings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
    background-color: #fff;
}

.university-rankings__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 800px;
    color: #333;
    font-family: "Roboto", sans-serif;
}

.university-rankings__filter input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.university-rankings__sort-by select {
    font-size: 16px;
    border: none;
    background-color: transparent;
    text-align: center;
    color: #888;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.university-rankings__favorites label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: #888;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.university-rankings__favorites input[type="checkbox"] {
    appearance: none;
    border: 1px solid #888;
    border-radius: 3px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: relative;
}

.university-rankings__favorites input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 2px;
}

.university-rankings__favorites input[type="checkbox"]:checked::before {
    content: "\f004";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    color: #e50914;
    text-align: center;
}

.university-rankings__grid {
    display: grid;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.university-rankings__noResult {
    display: grid; 
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.university-rankings__empty{
    text-align: -webkit-center;
}

.h2 {
    text-align: center;
}

.university-card-wrapper {
    position: relative;
}

.university-card {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    background-color: #fff;
    color: #333;
    font-family: "Roboto", sans-serif;
}

.university-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.university-card__image-container {
    position: relative;
    width: 200px;
    height: 200px;
}

.university-card__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    object-position: center;
}

.university-card__details {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-grow: 1;
}

.university-card__name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.university-card__location {
    font-size: 20px;
    margin-bottom: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.university-card__rating {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    right: 70%;
    top: 10%;
    transform: translateX(80%);
}

.university-card__number {
    font-weight: bold;
    position: relative;
    right: 80%;
    top: 30%;
    transform: translateX(80%);
}

.university-card__favorite-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    color: #c8102e;
}

.university-card__favorite-button:hover {
    background-color: #c8102e;
    color: #fff;
}

.university-card__favorite-button--active {
    background-color: #c8102e;
    color: #fff;
}

.university-card__favorite-button--active:hover {
    opacity: 0.8;
}

h1 {
    font-size: 3rem;
    letter-spacing: 0.9px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: "Roboto", sans-serif;
  }

.header{
    font-weight: 700;
    font-family: var(--font-secondary);
    font-size: 2.625rem;
    line-height: 1.14;
    color: black;
    --font-primary: "Roboto",Helvetica Neue,Helvetica,sans-serif;
    --font-secondary: "Montserrat",Helvetica Neue,Helvetica,sans-serif;
}

.starImg {
    height: 65%;
    width: 8%;
    margin-bottom: 6px;
    margin-right: 2px;
}

.rankImg {
    height: 95%;
    width: 3%;
    margin-bottom: 6px;
    margin-right: 2px;
}

.university-rankings__country-filter{
    margin-top: 15px;
}

.university-card__ranking-container {
    position: relative;
    width: 200px;
    height: 200px;
    border-left: 1px solid rgb(211, 215, 220);
}

.ratingTop{
    font-weight :lighter;
    font-variant: all-petite-caps;
}

.headerRanking{
    font-size: 60px;
    font-weight :lighter;
    font-variant: all-petite-caps;
}

.universityRankings_description {
    border-bottom: 1px solid rgb(211, 215, 220);
}