  .container {
    max-width: 800px;
    margin: auto;
  }
  
  .card {
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: white;
    padding: 8px;
  }

  .card-header h4 {
    margin-bottom: 0;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .list-group-item {
    border: none;
  }
  
  .list-group-item:hover {
    background-color: white;
  }
  
  .list-group-item h5,
  .list-group-item h6 {
    margin-bottom: 0;
  }
  
  .list-group-item p {
    margin-bottom: 15px;
  }
  
  .list-group-item small {
    color: #aaa;
  }
  
  /* .list-group-item button {
    border: none;
    background-color: transparent;
    margin-right: 10px;
  } */
  
  .list-group-item button:hover {
    cursor: pointer;
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card-body p:first-of-type {
    font-size: 14px;
  }
  
  .card-body p:last-of-type {
    font-size: 12px;
    margin-bottom: 0;
  }
  
  .card {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  .card-body {
    padding: 1.25rem 1.5rem;
  }
  
  .card-header {
    padding: 0.75rem 1.25rem;
  }
  
  .author {
    display: inline-block;
    margin-right: 10px;
  }
  
  .time {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
  }
  
  .comment-header .author {
    font-size: 14px;
  }
  
  .comment-body {
    font-size: 25px;
    display: flex;
    flex-direction: column;
  }
  
  .comments-toggle {
    display: inline-block;
    cursor: pointer;
  }
  
  .comments-icon {
    margin-right: 5px;
  }
  
  .comments-text {
    font-size: 14px;
    font-weight: bold;
  }
  
  .button-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 0px;
    margin-bottom: 7px;
    font-size: 15px;
  }

  .button-container button {
    margin-right: 3px; /* Add margin to the right of each button */
    border: none;
    background-color: transparent;
  }

  .button-container button:hover {
    color: orangered;
    transform: translateY(-3px);
  }
  
  .comment-body .list-group-item button {
    margin-right: 10px;
  }

  .comment {
    display: flex;
    flex-direction: column;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 2px; */
    border-color: white
  }
  
  .card-header h4 {
    margin: 0;
  }
  
  .add-comment {
    color: black;
    cursor: pointer;
    margin-left: 20px;
  }
  
  .add-comment:hover {
    color: orangered;
    transform: translateY(-3px);
  } 

  .comment-form {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
  }

  .reply input[type="text"] {
    height: 28px; /* set the desired height here */
  }

  .comment-form input[type="text"] {
    height: 28px; /* set the desired height here */
  }

  #addButton {
    height: 28px;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    text-align: center;
    white-space: nowrap;
  }

  .reply {
    margin-bottom: 10px;
  }

  .btn-outline-primary {
    color: #007bff !important;
    background-color: transparent !important;
    border-color: #007bff !important;
  }
  .btn-outline-primary:hover {
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
  }
  .btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5) !important;
  }